*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 75, 109);
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: rgb(248, 239, 227);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.387);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}

header img {
  width: 150px;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header__content h1 {
  font-size: 4rem;
  color: rgb(0, 75, 109)
}

.header__content h2 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

main {
  padding: 3rem 0;
  display: flex;
  justify-content: start;
  gap: 2rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form__container {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 700;
}

.campo, 
.seletor {
  width: 300px;
  padding: 10px 20px;
  font-size: 1.125rem;
  font-weight: 400;
  border-radius: 5px;
  border: 2px solid rgb(0, 75, 109)
}

.seletor {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.radio__container,
.client__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.radio__input,
.client__input {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 75, 109);
  color: rgb(248, 239, 227);
  
  font-size: 1rem;
  font-weight: 600;

  margin-right: 1rem;
  transition: transform 0.5s ease, filter 0.5s ease;

  cursor: pointer;
}

.btn:hover {
  transform: scale(1.04);
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.531));
}

.reset {
  color: rgb(0, 75, 109);
  background-color: rgb(248, 239, 227);
  border: 2px solid rgb(0, 75, 109);
}

.mensagens {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mensagens h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(0, 75, 109);
}

.mensagens h5 {
  font-size: 1.125rem;
  font-weight: 600;
  color: rgb(0, 1,1);
}

span {
  font-weight: 700;
  color: rgb(0, 75, 109);
}


